@media screen and (max-width: 786px) {
  .banner-img{
   height: 110vh !important; 
   padding-left: 15px !important;
   padding-right: 15px !important;
   margin-bottom: 20px !important 
  }
  .banner-content{
    top: 75%!important;
    left: 20px !important;
    width: 50%!important
  }
  .img-product{
    align-items: center!important
  }
  .trending_container{
    
    flex-direction: column !important;
    width: 100vw !important;
    height: 270vh !important
  }
  .trendingBx{
    flex-direction: column!important;
    height: 130vh !important;
    width: 100% !important
  }
  .trendingImg{
    width: 100% !important;
    height: 120vh !important
  }
  .more_container {
  
    flex-direction: column !important;
    width: 100vw !important;
    height: 400vh !important
  }
  .product_container{
    padding: 0 !important;
    margin: 0 !important;
    grid-template-rows: minmax(auto,auto);
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr))
  }
  .productBx{
    grid-column: unset !important;
    grid-row: unset !important
  }
  .productImg {
    width: 90% !important;
    height: 100vh !important;
    background-size: cover !important;
    object-fit: cover !important
  }
  .productBx:nth-child(even) {
    grid-column-start: unset !important;
    grid-column-end: unset !important
  }
  .productPage-img{
    height: 80vh!important;
  }
}